<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}">...</div>

<body>
    <main>
        <div class="container">
            <div class="header">
                <h1><a href="/games">Game Shelf</a></h1>
                <nav class="main-nav">
                    <ul>
                        <li><a href="/games"><i class="fa fa-gamepad" aria-hidden="true"></i> Games</a></li>
                        <li><a href="/manage"><i class="fa fa-cog" aria-hidden="true"></i> Manage</a></li>
                        <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" method="post"><button class="button button-general"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button></form></li>
                    </ul>
                </nav>
            </div>
            <div>
                <form class="game-form" action="#" th:action="@{/priorities/add}" th:object="${priority}" method="POST">
                    <div class="form-header">Add Priority</div>
                    <div class="success-message" th:if="${message}" th:text="${message}"></div>
                    <div>
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" id="name">
                        <span class="form-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div>
                        <button type="submit" class="button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>