<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}">...</div>

<body>
    <main>
        <div class="container">
            <div class="header">
                <h1>Game Shelf</h1>
                <nav class="main-nav">
                    <ul>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Consoles</a></li>
                        <li><a href="#">Genres</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Publishers</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <p>Hello World!!</p>
            </div>
        </div>
    </main>
</body>

</html>