<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/header :: header}">...</div>

<body>
    <main>
        <div class="container">
            <div class="header">
                <h1><a href="/games">Game Shelf</a></h1>
                <nav class="main-nav">
                    <ul>
                        <li><a href="/games">Games</a></li>
                        <li><a class="nav-active" href="/manage">Manage</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="content-header">Platforms</div>
                <a class="button" href="/platforms/add"><i class="fa fa-plus" aria-hidden="true"></i> Add platform</a>
                <h2 th:if="${#lists.isEmpty(platforms)}">No Platforms added yet...</h2>
                <div th:if="${!#lists.isEmpty(platforms)}">
                    <div class="game-card" th:each="platform : ${platforms}">
                        <div>
                            <p class="name" th:text="${platform.name}"></p>
                        </div>
                        <div class="game-card-actions">
                            <a class="button button-general" th:href="@{/platforms/edit/{id}(id=${platform.id})}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content-header">Priorities</div>
                <a class="button" href="/priorites/add"><i class="fa fa-plus" aria-hidden="true"></i> Add priority</a>
                <h2 th:if="${#lists.isEmpty(priorities)}">No Priorities added yet...</h2>
                <div th:if="${!#lists.isEmpty(priorities)}">
                    <div class="game-card" th:each="priority : ${priorities}">
                        <div>
                            <p class="name" th:text="${priority.name}"></p>
                        </div>
                        <div class="game-card-actions">
                            <a class="button button-general" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content-header">Statuses</div>
                <a class="button" href="/statuses/add"><i class="fa fa-plus" aria-hidden="true"></i> Add status</a>
                <h2 th:if="${#lists.isEmpty(statuses)}">No Statuses added yet...</h2>
                <div th:if="${!#lists.isEmpty(statuses)}">
                    <div class="game-card" th:each="status : ${statuses}">
                        <div>
                            <p class="name" th:text="${status.name}"></p>
                        </div>
                        <div class="game-card-actions">
                            <a class="button button-general" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>